.App {
    text-align: center;
    background-color: #e5eff0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

.Title {
    font-family: 'Courier New', monospace;
    color: #022b59;
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.canvas {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.slider1 {
    position: absolute;
    bottom: 100px;
    left: 20px;
    width: 200px;
}

.slider2 {
    position: absolute;
    bottom: 60px;
    left: 20px;
    width: 200px;
}

.slider3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
}
